.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.controls, .views{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.btn {
    padding: 10px;
    font-size: medium;
    font-weight: 700;
}

.outer {
    width: 720px;
    height: 720px;
    background-color: #FAF9F6;
}